@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

//** COLORS ***************************************************************************************

// main colors ****************************************************************
$accent-color: #ff6c33;
$extra-color: #e7a054;
$light-color: #ffffff;
$bg-light-color: #e1e6ea;
$light-gray-color: #999999;
$dark-color: #3f4440;
$selection-bg-color: #e7a054;

$selection-color: #ffffff;
// support colors *************************************************************
// $main-color-tint: mix(white, $main-color, 50%);
// $main-color-shade: mix(black, $main-color, 15%);
// $main-color-vibrant: saturate($main-color, 100%);
// $main-text-contrast: #e1e6ea;
// $background-text-contrast: #3f4440;

// alert colors ***************************************************************
// $error-color: #ff0000;
// $warning-color: #ffc107;
// $success-color: #198754;

// transparent colors *********************************************************
// $amount-transpa: 0.2;
// $main-color-transpa: transparentize($main-color, $amount-transpa);
// $accent-color-transpa: transparentize($accent-color, $amount-transpa);
// $background-color-transpa: transparentize($background-color, $amount-transpa);
// $main-color-tint-transpa: transparentize($main-color-tint, $amount-transpa);
// $main-color-shade-transpa: transparentize($main-color-shade, $amount-transpa);
// $main-color-vibrant-transpa: transparentize($main-color-vibrant, $amount-transpa);

//** UNITS ****************************************************************************************
$spacing-unit: 8px;
$transition-time-unit: 250ms;
$round-unit: 10%;

//** TYPOGRAPHY ***********************************************************************************
$font-family: "Roboto", sans-serif;
// FONT-SIZES
// Body
$font-size-p1: var(--font-size-p1);
$font-size-p2: var(--font-size-p2);
// Headings
$font-size-h1: var(--font-size-h1);
$font-size-h2: var(--font-size-h2);
$font-size-h2--medium: var(--font-size-h2--medium);
$font-size-h2--scale: var(--font-size-h2--scale);
$font-size-h3: var(--font-size-h3);
$font-size-h4: var(--font-size-h4);
// Sub-titles
$font-size-st1: var(--font-size-st1);
$font-size-st2: var(--font-size-st2);
$font-size-st3: var(--font-size-st3);
$font-size-st4: var(--font-size-st4);
$font-size-st5: var(--font-size-st5);
$font-size-st6: var(--font-size-st6);
// Utils
$font-size-btn: var(--font-size-btn);
$font-size-link: var(--font-size-link);
$font-size-UI: var(--font-size-UI);
$font-size-headUI: var(--font-size-headUI);
// LINE-HEIGHTS
$line-height-p: var(--line-height-p);
$line-height-h1: var(--line-height-h1);
$line-height-h2: var(--line-height-h2);
$line-height-h2--medium: var(--line-height-h2--medium);
$line-height-h2--scale: var(--line-height-h2--scale);
$line-height-h3: var(--line-height-h3);
$line-height-h4: var(--line-height-h4);

//** MEDIA QUERIES ********************************************************************************
// min-width screen sizes
$smartphone: 576px; //sm
$tablet-portrait: 768px; //md
$tablet-landscape: 992px; //lg
$desktop: 1200px; //xl
$tv: 1400px; //xxl
$points: "", "sm", "md", "lg", "xl", "xxl";
// mixin for media querie implementetion
@mixin for-size($point) {
  @if $point == sm {
    @media screen and (min-width: $smartphone) {
      @content;
    }
  } @else if $point == md {
    @media screen and (min-width: $tablet-portrait) {
      @content;
    }
  } @else if $point == lg {
    @media screen and (min-width: $tablet-landscape) {
      @content;
    }
  } @else if $point == xl {
    @media screen and (min-width: $desktop) {
      @content;
    }
  } @else if $point == xxl {
    @media screen and (min-width: $tv) {
      @content;
    }
  } @else {
    @content;
  }
}
// make the same class through all break-points
@mixin make-querie-classes($class) {
  .#{$class} {
    @content;
  }
  @each $point in $points {
    @if $point != "" {
      @include for-size($point) {
        .#{$class}-#{$point} {
          @content;
        }
      }
    }
  }
}
// mixin for hover media querie
@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}
// mixin for hover media querie
@mixin hasHover {
  @media (hover: hover) {
    @content;
  }
}

//** MEDIA QUERIES VARIABLES  *********************************************************************
// From 0px to...
:root {
  // Text-sizes
  --font-size-p1: 1.8rem;
  --font-size-p2: 1.4rem;
  --font-size-h1: 6rem;
  --font-size-h2: 5rem;
  --font-size-h2--medium: 4.5rem;
  --font-size-h2--scale: 13.33333vw;
  --font-size-h3: 2.4rem;
  --font-size-h4: 2.2rem;

  // Line heights
  --line-height-p: 1;
  --line-height-h1: 0.85;
  --line-height-h2: 0.85;
  --line-height-h2--medium: 0.8;
  --line-height-h2--scale: 0.85;
  --line-height-h3: 1.05;
  --line-height-h4: 0.9;

  // --font-size-st1: 64px;
  // --font-size-st2: 56px;
  // --font-size-st3: 48px;
  // --font-size-st4: 32px;
  // --font-size-st5: 24px;
  // --font-size-st6: 16px;
  // --font-size-btn: 16px;
  // --font-size-link: 14px;
  // --font-size-UI: 10px;
  // --font-size-headUI: 22px;
}
// From "var" to max-width
@media screen and (min-width: $tablet-landscape) {
  :root {
    // Text-sizes
    --font-size-p1: 1.8rem;
    --font-size-p2: 1.4rem;
    --font-size-h1: 17.5rem;
    --font-size-h2: 15rem;
    --font-size-h2--medium: 7.5rem;
    --font-size-h2--scale: 10.13514vw;
    --font-size-h3: 3rem;
    --font-size-h4: 2.2rem;

    // Line heights
    --line-height-p: 1;
    --line-height-h1: 1;
    --line-height-h2: 0.8;
    --line-height-h2--medium: 0.8;
    --line-height-h2--scale: 0.8;
    --line-height-h3: 1.05;
    --line-height-h4: 0.9;

    // --font-size-st1: 68px;
    // --font-size-st2: 60px;
    // --font-size-st3: 52px;
    // --font-size-st4: 36px;
    // --font-size-st5: 28px;
    // --font-size-st6: 20px;
    // --font-size-btn: 16px;
    // --font-size-link: 14px;
    // --font-size-UI: 14px;
    // --font-size-headUI: 26px;
  }
}
